@import '../sass/utils/vars';
@import '../sass/components/header';
@import '../sass/components/slogan';
@import '../sass/components/lorem';
@import '../sass/components/whatWeDo';
@import '../sass/components/ourTeam';
@import '../sass/components/ourClients';
@import '../sass/components/footer';
@import '../sass/components/bookmarks';
@import '../sass/components/tiles';
@import '../sass/components/modal';
@import '../sass/utils/general';
@import '../sass/components/mobileMenu';
