.slogan {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/people-in-work.jpg);
  background-size: cover;
  margin: 0 auto;
  color: $whiteColor;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 200px 0;
  // background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  // min-width: 100%;

  &__text {
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    margin-bottom: 30px;
  }
  &__button {
    background-color: $hoverColor;
    border-color: $hoverColor;
    color: $whiteColor;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 10px 42px;
    font-weight: 700;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
  .slogan__text {
    font-size: 44px;
    line-height: 42px;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slogan {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/people-in-workx2.jpg);
    background-size: cover;
    margin: 0 auto;
    color: $whiteColor;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
  }
}
