$whiteColor: #ffffff;
$footerBgColor: #2f303a;
$hoverColor: #2196f3;
$greyColor: #757575;
$headerBorderColor: #ececec;
$loremIconsBgColor: rgba(245, 244, 250, 1);
$whatWeDoBgColor: rgba(47, 48, 58, 0.8);
$ourTeamBgColor: #f5f4fa;
$iconsFillColor: rgba(175, 177, 184, 1);
$footerContactColor: #ffffff99;
$footerIconsBgColor: rgba(255, 255, 255, 0.1);
$footerNewsletterBorderColor: rgba(255, 255, 255, 0.3);
$footerNewsletterBgColor: rgba(47, 48, 58, 1);
$almostWhiteColor: #eeeeee;
$porfolioHiddenTablesColor: rgba(33, 150, 243, 0.9);
$inputBorderColor: rgba(33, 33, 33, 0.2);
$checkBoxBorderColor: #212121;
$backdropBgColor: rgba(0, 0, 0, 0.2);
$closeBtnBorderColor: rgba(0, 0, 0, 0.1);
$robotoFontFamily: Roboto, sans-serif;
$ralewayFontFamily: Raleway, sans-serif;